<header class="container-fluid p-3 border-bottom">
  <div class="row justify-content-between">
    <div class="col-lg-6" id="title-col">
      <h4 id="section-title" class="m-0"> {{titulo}} </h4>
    </div>
    <div class="col-lg-auto">
      <button type="button" class="btn action-btn" (click)="anadir();"><i class="fas fa-plus"></i></button>
      <button type="button" class="btn action-btn" (click)="eliminar();"><i class="fas fa-trash-alt"></i></button>
      <button type="button" class="btn action-btn" (click)="anterior();"><i class="fas fa-caret-square-left"></i></button>
      <button type="button" class="btn action-btn" (click)="siguiente();"><i class="fas fa-caret-square-right"></i></button>
    </div>
  </div>
</header>