<main>
  <app-nav-bar [titulo]="'Edición de Facturas de compra'"
  [descarga]="true"
  (siguienteRegistro)="siguienteRegistro();"
  (anteriorRegistro)="anteriorRegistro();"
  (anadirRegistro)="anadirRegistro();"
  (eliminarRegistro)="eliminarRegistro();"
  (descargarRegistro)="descargarRegistro();"></app-nav-bar>
  <div id="form-container" class="container-fluid full-size">
    <form class="row p-5" autocomplete="off" [formGroup]="form">
      <div class="col-12">
        <div class="row">
          <div class="col-6">
            <div class="form-row">
              <div class="col-4">
                <label for="series-factura">Serie</label>
                <select id="series-factura" formControlName="serie" class="form-control mb-3">
                  <option *ngFor="let nombre_serie of _series.getValues();">{{nombre_serie}}</option>
                </select>
              </div>
              <div class="col-4">
                <label for="id">ID Factura</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button type="button" (click)="abrirModalFactura();" class="btn btn-primary form-control">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                  <input type="text" id="id" formControlName="id" class="form-control mb-3">
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-12">
                <label for="id-proveedor">Proveedor</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button type="button" (click)="abrirModalProveedor();" class="btn btn-primary form-control">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                  <input type="text" id="id-proveedor" formControlName="id_proveedor" class="form-control col-2 mb-3">
                  <input type="text" id="nombre-proveedor" formControlName="nombre_proveedor" class="form-control mb-3">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-row">
              <div class="col-6">
                <label for="fecha">Fecha Factura</label>
                <app-fecha-input id="fecha" formControlName="fecha" [btn]="true" class="form-row mb-3"></app-fecha-input>
              </div>
              <div class="col-6">
                <label for="id-factura-proveedor">ID Factura proveedor</label>
                <input type="text" id="id-factura-proveedor" formControlName="id_factura_proveedor" class="form-control mb-3">
              </div>
            </div>
            <div class="form-row">
              <div class="col-9">
                <label for="id-metodo-pago">Método de pago</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button type="button" (click)="abrirModalMetodoPago();" class="btn btn-primary form-control">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                  <input type="text" id="id-metodo-pago" formControlName="id_metodo_pago" class="form-control col-2 mb-3">
                  <input type="text" id="nombre-metodo-pago" formControlName="nombre_metodo_pago" class="form-control mb-3">
                </div>
              </div>
              <div class="col-3 ">
                <label for="descuento-general">Descuento general</label>
                <input type="text" id="descuento-general" formControlName="descuento_general" class="form-control mb-3">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <table class="table table-striped table-bordered table-sm">
          <thead class="thead-light"> 
            <tr>
              <th scope="col" class="font-weight-normal text-nowrap rs-x">ID serie</th>
              <th scope="col" class="font-weight-normal text-nowrap rs-x">ID</th>
              <th scope="col" class="font-weight-normal text-nowrap rs-x">fecha</th>
              <th scope="col" class="font-weight-normal text-nowrap rs-x">ID proveedor</th>
              <th scope="col" class="font-weight-normal text-nowrap rs-x">ID albaran proveedor</th>
              <th scope="col" class="butn-col"></th>
            </tr>
          </thead>
          <tbody formArrayName="albaranes">
            <ng-container *ngFor="let albaran of albaranes.controls; let i = index;">
              <tr [formGroupName]="i">
                <td class="p-1" >
                  <input type="text" id="id-serie" formControlName="id_serie" class="form-control form-control-sm rounded-0 border-0">
                </td>
                <td class="p-1">
                  <input type="text" id="id" formControlName="id" class="form-control form-control-sm rounded-0 border-0">
                </td>
                <td class="p-1">
                  <input type="text" id="fecha" formControlName="fecha" class="form-control form-control-sm rounded-0 border-0">
                </td>
                <td class="p-1">
                  <input type="text" id="id-proveedor" formControlName="id_proveedor" class="form-control form-control-sm rounded-0 border-0">
                </td>
                <td class="p-1">
                  <input type="text" id="id-albaran-proveedor" formControlName="id_albaran_proveedor" class="form-control form-control-sm rounded-0 border-0">
                </td>
                <td class="px-0 butn-col">
                  <div class="del">
                    <button type="button" class="btn btn-delete" (click)="eliminarFila(i)"><i class="fas fa-times"></i></button>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <button (click)="abrirModalAlbaranes();" class="btn btn-primary">Añadir</button>
      </div>
      <div class="col-12 d-flex justify-content-center mt-5">
        <button type="button" [disabled]="form.invalid" class="btn btn-success mr-5" (click)="guardarRegistro();">Guardar</button>
        <button type="button" [disabled]="form.pristine" class="btn btn-danger" (click)="deshacerCambios();">Deshacer</button>
      </div>
    </form>
    <div class="row px-0 py-0">
      <app-warning-panel [errors]="errors" class="col"></app-warning-panel>
    </div>
  </div>
  <ng-container #modal></ng-container>
  <ng-container #modalAlbaranes></ng-container>
</main>