<main d-flex flex-column h-100 w-100>
    <app-nav-bar [titulo]="'Edición de clientes'"
    (siguienteRegistro)="siguienteRegistro();"
    (anteriorRegistro)="anteriorRegistro();"
    (anadirRegistro)="anadirRegistro();"
    (eliminarRegistro)="eliminarRegistro();"
    ></app-nav-bar>
    <div id="form-container" class="container-fluid">
      <form class="row p-5" autocomplete="off" [formGroup]="form">
        <div class="col-md-6">
          <div class="form-row">
              <div class="col-8 col-sm-6 col-lg-4 col-xl-4">
                <label for="id-cliente">ID</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button type="button" (click)="abrirModalCliente()" class="btn btn-primary form-control">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                  <input id="id" type="text" formControlName="id" class="form-control mb-3">
                </div>
              </div>
              <div class="col-lg">
                <label for="nombre-comercial">Nombre comercial</label>
                <input id="nombre-comercial" type="text" formControlName="nombre_comercial" class="form-control mb-3">
              </div>
          </div>
          <div class="form-row">
              <div class="col-12">
                <label for="CIF">CIF</label>
                <input id="cif" type="text" formControlName="cif" class="form-control mb-3">
              </div>
          </div>
          <div class="form-row">
            <div class="col-12">
              <label for="persona-contacto">Persona de contacto</label>
              <input id="persona-contacto" type="text" formControlName="persona_contacto" class="form-control mb-3">
            </div>
          </div>
          <div class="form-row">
            <div class="col-12">
              <label for="direccion">Dirección</label>
              <input id="direccion" type="text" formControlName="direccion" class="form-control mb-3">
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm-6 col-lg-8 col-xl-6">
              <label for="telefono">Teléfono</label>
              <input id="telefono" type="text" formControlName="telefono" class="form-control mb-3">
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm-6 col-lg-8 col-xl-6">
              <label for="fax">Fax</label>
              <input id="fax" type="text" formControlName="fax" class="form-control mb-3">
            </div>
          </div>
          <div class="form-row">
              <div class="col-8">
                <div class="form-row">
                  <div class="col-12 custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="precio-albaran" formControlName="precio_albaran">
                    <label for="precio-albaran" class="custom-control-label mb-3">Incluir precios en albarán</label>
                  </div>
                  <div class="col-12 custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="factura-automatica" formControlName="factura_automatica">
                    <label for="factura-automatica" class="custom-control-label mb-3">Generar factura automática</label>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-row">
                  <div class="col-12">
                    <label for="descuento">Descuento</label>
                    <input id="descuento" type="text" formControlName="descuento" class="form-control mb-3">
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-row">
            <div class="col-12">
              <label for="id-metodo-pago">Metodo de pago</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <button type="button" (click)="abrirModalMetodoPago();" class="btn btn-primary form-control">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <input id="id-metodo-pago" type="text" formControlName="id_metodo_pago" class="form-control col-8 col-sm-3 mb-3">
                <input id="nombre-metodo-pago" type="text" formControlName="nombre_metodo_pago" class="form-control col mb-3">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12">
              <label for="cuenta-bancaria">Cuenta bancaria</label>
              <input id="cuenta-bancaria" type="text" formControlName="cuenta_bancaria" class="form-control mb-3">
            </div>
          </div>
          <div class="form-row">
            <div class="col-12">
              <label for="sitio-web">Sitio web</label>
              <input id="sitio-web" type="text" formControlName="sitio_web" class="form-control mb-3">
            </div>
          </div>
          <div class="form-row">
            <div class="col-12">
              <label for="e-mail">E-mail</label>
              <input id="email" type="text" formControlName="email" class="form-control mb-3">
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm-8 col-lg-6">
              <label for="fecha-nacimiento">Fecha nacimiento</label>
              <app-fecha-input id="fecha_nacimiento" formControlName="fecha_nacimiento" [btn]="true" class="form-row mb-3"></app-fecha-input>
            </div>
            <div class="col-sm-8 col-lg-6">
              <label for="fecha-captacion">Fecha captación</label>
              <app-fecha-input id="fecha_captacion" formControlName="fecha_captacion" [btn]="true" class="form-row mb-3"></app-fecha-input>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12">
              <label for="informacion-adicional">Información adicional</label>
              <textarea id="informacion-adicional" formControlName="informacion_adicional" class="form-control mb-3"></textarea>
            </div>
          </div>
        </div>
        <div class="col-12 mt-5 d-flex justify-content-center">
          <button type="button" (click)="guardarRegistro();" [disabled]="form.invalid" class="btn btn-success mr-5">Guardar</button>
          <button type="button" (click)="deshacerCambios();" [disabled]="form.pristine" class="btn btn-danger">Deshacer</button>
        </div>
      </form>
      <div class="row px-0 py-0">
        <app-warning-panel [errors]="errors" class="col"></app-warning-panel>
      </div>
    </div>
    <ng-container #modal></ng-container>
  </main>